@import url('https://fonts.googleapis.com/css2?family=Anek+Bangla:wght@100..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.anek-bangla{
   font-family: "Anek Bangla", sans-serif;
   font-optical-sizing: auto;
   font-style: normal;
   font-variation-settings: "wdth" 100;
 }


/* html, body {
  overflow: auto;
}

*::-webkit-scrollbar {
  display: none;
}

* {
  scrollbar-width: none; 
  -ms-overflow-style: none;
} */