@import url('https://fonts.googleapis.com/css2?family=Anek+Bangla:wght@100..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.anek-bangla{
   font-family: "Anek Bangla", sans-serif;
   font-optical-sizing: auto;
   font-style: normal;
   font-variation-settings: "wdth" 100;
 }



 .glass{
background: rgba(207, 236, 240, 0.44);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(1.4px);
-webkit-backdrop-filter: blur(1.4px);
border: 1px solid rgba(207, 236, 240, 1);

 }
 .glass2{

background: rgba(255, 195, 250, 0.44);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(1.4px);
-webkit-backdrop-filter: blur(1.4px);
border: 1px solid rgba(207, 236, 240, 1);

 }

 .flexCenter{
   @apply flex flex-col items-center justify-center gap-5
 }
 .flexStart{
   @apply flex flex-row items-center gap-3
 }
 .flexBetween{
   @apply flex flex-row items-center justify-between
 }
 .alignCenter{
   @apply lg:w-[80%] mx-auto
 }


*::-webkit-scrollbar {
  display: none;
}

.fullWidth{
  width: 100%;
}

